spring:
  application.name: YourPc
  output.ansi.enabled: ALWAYS
  threads.virtual.enabled: true

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB_NAME}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_USER_PASSWORD}
    hikari:
      maximum-pool-size: ${HIKARI_MAX_POOL_SIZE:50}
      minimum-idle: ${HIKARI_MINIMUM_IDLE:50}
      max-lifetime: 1800000
      connection-timeout: 30000
      idle-timeout: 600000
      leak-detection-threshold: 45000
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        tcpKeepAlive: true
        socketTimeout: 60
        loginTimeout: 10

  jpa:
    open-in-view: false
    hibernate.ddl-auto: validate
    properties:
      hibernate.default_schema: ${POSTGRES_SCHEMA}
      jdbc:
        batch_size: 25
        order_inserts: true
        order_updates: true
        batch_versioned_data: true
      query:
        plan_cache_max_size: 2048

  flyway:
    user: ${POSTGRES_USER}
    password: ${POSTGRES_USER_PASSWORD}
    schemas: ${POSTGRES_SCHEMA}
    url: jdbc:postgresql://${POSTGRES_URL:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB_NAME}
    baseline-on-migrate: true
    validate-on-migrate: true

  thymeleaf:
    encoding: UTF-8
    check-template: true
    check-template-location: true
    servlet:
      content-type: text/html
      produce-partial-output-while-processing: true

management:
  endpoints.web:
    exposure.include: health,info,metrics
    base-path: /actuator
  endpoint:
    health.show-details: when-authorized
    metrics.enabled: true
