name: CI Pipeline

on:
  push:
    branches: [ 'main', 'dev' ]
  pull_request:
    branches: [ 'main', 'dev' ]

permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  quality-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Spotless check
        run: mvn spotless:check
        continue-on-error: false

      - name: Build and run all quality checks
        run: mvn clean verify -V